<h1>All about me : </h1>

<mat-card class="example-card">
    <mat-card-header>
        <img mat-card-avatar src="https://media-exp1.licdn.com/dms/image/C4E03AQFEIikAbexV9A/profile-displayphoto-shrink_100_100/0/1612721432261?e=1619654400&v=beta&t=8z9pZq_SrUsVkJCquvQlRjtuttLjH-F2oBtYn1qZJtw" alt="Kamyab">
    <mat-card-title>
        <h1>Kamyab Rouhifar</h1>
    </mat-card-title>
    
    <mat-card-subtitle>
        <h2>Computer programmer</h2>
    </mat-card-subtitle> 
</mat-card-header>
<mat-card-content>
    <p>
        I know 3 languages such as <em>Persian</em>,
        <em> Turkish </em>,and
        <em> English</em>
        <br />I know programming languages such as
        <code>
            <b>JavaScript</b>
        </code>
        ,
        <code>
            <b>Java</b>
        </code>
        ,
        <code>
            <b>C/C++</b>
        </code>
        ,and
        <code>
            <b> Python</b>
        </code>
        <br />
        Mostly I like doing and searching Web
        application frameworks and libraries such as  
        <code>
            <b>Angular</b>
        </code>
        ,
        <code>
            <b>ReactJS</b>
        </code>
        ,
        <code>
            <b>NodeJS</b>
        </code>
    </p>
</mat-card-content>
</mat-card>
